{% extends "MockMobileBundle::layout.html.twig" %}


{% block content %}
<h2 class="title">Register</h2>

<form class="form-horizontal" data-ajax="false" action="/signup" method="post">
	<div class="control-group">
		<label class="control-label" for="username">Yahoo Email Address:</label>
    	<div class="controls">
			<input type="text" id="username" required="required" name="openid_identifier" value="" />
		</div>
	</div>

	<input type="hidden" name="_target_path" value="/login" />
	<button class="btn btn-primary btn-large" type="submit">login</button>

</form>
{% endblock %}
