<a href="help.html" data-rel="dialog" data-transition="slideup" data-role="button" data-icon="info" data-iconpos="notext">Help</a>
<h1><a data-ajax="false" href="/matchup">Matchup</a></h1>
<a href="/matchup/settings" data-transition="flip" data-icon="gear" data-iconpos="notext">Options</a>